@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Sen";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Sen";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}

.slick-slider .slick-slide {
  position: relative;
}

.header {
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(40%, #000000), color-stop(40%, #181823), color-stop(40%, #181823), color-stop(100%, #181823), to(#000000));
  background: -o-linear-gradient(left, #000000 0%, #000000 40%, #181823 40%, #181823 40%, #181823 100%, #000000 100%);
  background: linear-gradient(to right, #000000 0%, #000000 40%, #181823 40%, #181823 40%, #181823 100%, #000000 100%);
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__cap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__cap::before {
  content: '';
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.header__body {
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 88px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  padding: 15px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.header__burger {
  display: none;
}

.header__list {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}

.header__link {
  color: #fff;
  padding: 32px 24px;
}

.header__link:hover {
  color: #666666;
}

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.header__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__columns {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header__columns_2 {
  position: relative;
}

.header__image {
  text-align: center;
}

.header__image img {
  max-width: 100%;
}

.header__content {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 20%;
  left: -50px;
  max-width: 750px;
}

.header__title {
  font-weight: 700;
  font-size: 78px;
  line-height: 1.1;
  margin: 0 0 32px 0;
}

.header__title span {
  color: #666666;
}

.header__text {
  font-size: 18px;
  line-height: 1.5;
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/

.work {
  background-color: #000;
  padding-top: 120px;
  color: #fff;
}

.work__subtitle {
  margin: 0 0 8px 0;
}

.work__title {
  margin-bottom: 40px;
  max-width: 700px;
}

.work__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -20px;
}

.work__columns {
  padding: 0 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.work__columns:last-child {
  margin-bottom: 120px;
}

.work__numeral {
  font-size: 117px;
  line-height: 1.5;
  color: #8491A0;
}

.work__subject {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #8491A0;
  margin-bottom: 22px;
}

.work__subject_1 span {
  color: #4dc74d;
}

.work__subject_2 span {
  color: #2568e4e1;
}

.work__subject_3 span {
  color: #c0818c;
}

.work__text {
  color: #8491A0;
}

.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #8491A0;
}

.title {
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  line-height: 1.2;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

.philosophy {
  background-color: #FFF3E4;
}

.philosophy__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.philosophy__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.philosophy__body {
  padding-top: 120px;
  padding-bottom: 124px;
  padding-right: 72px;
  padding-left: 72px;
}

.philosophy__title {
  margin: 0 0 24px 0;
  color: #181823;
}

.philosophy__text {
  font-size: 18px;
  line-height: 1.5;
  color: #5B6876;
  margin-bottom: 134px;
}

.philosophy__link a {
  color: #181823;
}

.philosophy__image {
  height: 100%;
}

.philosophy__image img {
  max-width: 100%;
}

.link {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  border-bottom: 1px solid #8491A0;
}

.skillset {
  background-color: #000;
  color: #fff;
  Padding-top: 120px;
}

.skillset__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  Padding-bottom: 120px;
}

.skillset__columns_1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 370px;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  padding: 0 0 0 10px;
}

.skillset__columns_2 {
  margin: 0 0 0 72px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.skillset__title {
  margin-bottom: 24px;
}

.skillset__text {
  font-size: 18px;
  color: #8491A0;
  line-height: 1.5;
}

.skillset__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -20px;
}

.skillset__element {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 20px 40px 20px;
}

.skillset__element:last-child,
.skillset__element:nth-last-child(2) {
  padding: 0 20px 0px 20px;
}

.skillset__image {
  height: 32px;
  width: 32px;
  margin: 0 0 24px 0;
}

.skillset__label {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.skillset__desc {
  font-size: 16px;
  color: #8491A0;
  line-height: 1.5;
}

.skillset__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.skillset__item {
  height: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 16.666%;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
  border: 1px solid #181823;
}

.skillset-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.project {
  background-color: #000;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 153px;
}

.project__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.project__columns {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

.project__subtitle {
  margin: 0 0 8px 0;
}

.project__title {
  margin-bottom: 80px;
}

.project__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__card {
  margin-bottom: 24px;
}

.project__card:last-child {
  margin-bottom: 0;
}

.project__item {
  max-width: 636px;
  background-color: #181823;
}

.project__image {
  margin: 0 0 40px 0;
}

.project__image img {
  max-width: 100%;
}

.project__label {
  margin: 0 0 13px 0;
  padding-right: 32px;
  padding-left: 32px;
}

.project__label a {
  color: #fff;
}

.project__text {
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 40px;
}

.project__link {
  margin: 110px 0 0 0;
  text-align: center;
}

.project__btn {
  color: #fff;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  border: 1px solid #5221E6;
  padding: 24px 32px;
}

.project__btn:hover {
  background-color: #5221E6;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.label {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.project-container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.instagram {
  background-color: #FBE4FF;
}

.instagram__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.instagram__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.instagram__body {
  padding-top: 120px;
  padding-bottom: 124px;
  padding-right: 72px;
  padding-left: 72px;
}

.instagram__title {
  margin: 0 0 24px 0;
  color: #181823;
}

.instagram__text {
  font-size: 18px;
  line-height: 1.5;
  color: #5B6876;
  margin-bottom: 134px;
}

.instagram__link a {
  color: #181823;
}

.instagram__image {
  height: 100%;
}

.instagram__image img {
  max-width: 100%;
}

.dribbble {
  background-color: #000;
  color: #fff;
  padding-top: 120px;
}

.dribbble__title {
  margin: 0 0 24px 0;
}

.dribbble__text {
  color: #8491A0;
  max-width: 640px;
  width: 100%;
  margin: 0 0 40px 0;
}

.dribbble__link {
  margin-bottom: 124px;
}

.dribbble__link a {
  color: #fff;
}

.dribbble__body {
  background-color: #181823;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  position: relative;
}

.dribbble__body::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 52px;
  width: 12px;
  height: 12px;
  background-color: #5B6876;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.dribbble__body span::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 16px;
  width: 12px;
  height: 12px;
  background-color: #5B6876;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.dribbble__body span::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 34px;
  width: 12px;
  height: 12px;
  background-color: #5B6876;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.dribbble__image {
  padding: 36px 0 0 0;
}

.dribbble__image img {
  max-width: 100%;
}

.dribbble-container {
  max-width: 1076px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 767.98px) {
  .header__link_bg {
    background-color: #5221E6;
  }

  .header__link_bg:hover {
    color: #fff;
    background-color: #401ea5;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

@media (max-width: 1440px) {
  .philosophy__body {
    padding-top: -webkit-calc(48px + 72 * ((100vw - 320px) / 930));
    padding-top: calc(48px + 72 * ((100vw - 320px) / 930));
  }

  .philosophy__body {
    padding-bottom: -webkit-calc(51px + 73 * ((100vw - 320px) / 930));
    padding-bottom: calc(51px + 73 * ((100vw - 320px) / 930));
  }

  .philosophy__body {
    padding-right: -webkit-calc(20px + 52 * ((100vw - 320px) / 930));
    padding-right: calc(20px + 52 * ((100vw - 320px) / 930));
  }

  .philosophy__body {
    padding-left: -webkit-calc(20px + 52 * ((100vw - 320px) / 930));
    padding-left: calc(20px + 52 * ((100vw - 320px) / 930));
  }

  .philosophy__text {
    margin-bottom: -webkit-calc(67px + 67 * ((100vw - 320px) / 930));
    margin-bottom: calc(67px + 67 * ((100vw - 320px) / 930));
  }

  .instagram__body {
    padding-top: -webkit-calc(48px + 72 * ((100vw - 320px) / 930));
    padding-top: calc(48px + 72 * ((100vw - 320px) / 930));
  }

  .instagram__body {
    padding-bottom: -webkit-calc(51px + 73 * ((100vw - 320px) / 930));
    padding-bottom: calc(51px + 73 * ((100vw - 320px) / 930));
  }

  .instagram__body {
    padding-right: -webkit-calc(20px + 52 * ((100vw - 320px) / 930));
    padding-right: calc(20px + 52 * ((100vw - 320px) / 930));
  }

  .instagram__body {
    padding-left: -webkit-calc(20px + 52 * ((100vw - 320px) / 930));
    padding-left: calc(20px + 52 * ((100vw - 320px) / 930));
  }

  .instagram__text {
    margin-bottom: -webkit-calc(67px + 67 * ((100vw - 320px) / 930));
    margin-bottom: calc(67px + 67 * ((100vw - 320px) / 930));
  }
}

@media (max-width: 1375px) {
  .header__content {
    top: 10%;
  }
}

@media (max-width: 1300px) {
  .project {
    padding-top: -webkit-calc(60px + 60 * ((100vw - 320px) / 930));
    padding-top: calc(60px + 60 * ((100vw - 320px) / 930));
  }

  .project {
    padding-bottom: -webkit-calc(70px + 83 * ((100vw - 320px) / 930));
    padding-bottom: calc(70px + 83 * ((100vw - 320px) / 930));
  }

  .project__title {
    margin-bottom: -webkit-calc(50px + 30 * ((100vw - 320px) / 930));
    margin-bottom: calc(50px + 30 * ((100vw - 320px) / 930));
  }

  .project__card {
    margin-bottom: -webkit-calc(48px + -24 * ((100vw - 320px) / 930));
    margin-bottom: calc(48px + -24 * ((100vw - 320px) / 930));
  }

  .project__label {
    padding-right: -webkit-calc(10px + 22 * ((100vw - 320px) / 930));
    padding-right: calc(10px + 22 * ((100vw - 320px) / 930));
  }

  .project__label {
    padding-left: -webkit-calc(10px + 22 * ((100vw - 320px) / 930));
    padding-left: calc(10px + 22 * ((100vw - 320px) / 930));
  }

  .project__text {
    padding-right: -webkit-calc(10px + 22 * ((100vw - 320px) / 930));
    padding-right: calc(10px + 22 * ((100vw - 320px) / 930));
  }

  .project__text {
    padding-left: -webkit-calc(10px + 22 * ((100vw - 320px) / 930));
    padding-left: calc(10px + 22 * ((100vw - 320px) / 930));
  }

  .project__text {
    padding-bottom: -webkit-calc(40px + 0 * ((100vw - 320px) / 930));
    padding-bottom: calc(40px + 0 * ((100vw - 320px) / 930));
  }
}

@media (max-width: 1262px) {
  .container {
    max-width: 970px;
  }

  .header__text {
    font-size: 14px;
  }
}

@media (max-width: 1250px) {
  .work {
    padding-top: -webkit-calc(48px + 72 * ((100vw - 320px) / 930));
    padding-top: calc(48px + 72 * ((100vw - 320px) / 930));
  }

  .work__title {
    margin-bottom: -webkit-calc(20px + 20 * ((100vw - 320px) / 930));
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 930));
  }

  .work__columns:last-child {
    margin-bottom: -webkit-calc(48px + 72 * ((100vw - 320px) / 930));
    margin-bottom: calc(48px + 72 * ((100vw - 320px) / 930));
  }

  .work__subject {
    margin-bottom: -webkit-calc(16px + 6 * ((100vw - 320px) / 930));
    margin-bottom: calc(16px + 6 * ((100vw - 320px) / 930));
  }

  .title {
    font-size: -webkit-calc(32px + 23 * ((100vw - 320px) / 930));
    font-size: calc(32px + 23 * ((100vw - 320px) / 930));
  }

  .title {
    line-height: -webkit-calc(38px + 28 * ((100vw - 320px) / 930));
    line-height: calc(38px + 28 * ((100vw - 320px) / 930));
  }

  .skillset {
    Padding-top: -webkit-calc(60px + 60 * ((100vw - 320px) / 930));
    Padding-top: calc(60px + 60 * ((100vw - 320px) / 930));
  }

  .skillset__row {
    Padding-bottom: -webkit-calc(60px + 60 * ((100vw - 320px) / 930));
    Padding-bottom: calc(60px + 60 * ((100vw - 320px) / 930));
  }

  .skillset__title {
    margin-bottom: -webkit-calc(16px + 8 * ((100vw - 320px) / 930));
    margin-bottom: calc(16px + 8 * ((100vw - 320px) / 930));
  }

  .skillset__label {
    margin-bottom: -webkit-calc(16px + 8 * ((100vw - 320px) / 930));
    margin-bottom: calc(16px + 8 * ((100vw - 320px) / 930));
  }
}

@media (max-width: 1235px) {
  .header__content {
    top: 15%;
  }

  .header__title {
    font-size: 60px;
  }
}

@media (max-width: 1090px) {
  .dribbble-container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 1090px) and (max-width: 1090px) {
  .dribbble-container {
    padding-right: -webkit-calc(20px + 20 * ((100vw - 320px) / 930));
    padding-right: calc(20px + 20 * ((100vw - 320px) / 930));
  }

  .dribbble-container {
    padding-left: -webkit-calc(20px + 20 * ((100vw - 320px) / 930));
    padding-left: calc(20px + 20 * ((100vw - 320px) / 930));
  }
}

@media (max-width: 1076px) {
  .dribbble {
    padding-top: -webkit-calc(60px + 60 * ((100vw - 320px) / 930));
    padding-top: calc(60px + 60 * ((100vw - 320px) / 930));
  }

  .dribbble__link {
    margin-bottom: -webkit-calc(68px + 56 * ((100vw - 320px) / 930));
    margin-bottom: calc(68px + 56 * ((100vw - 320px) / 930));
  }
}

@media (max-width: 1048px) {
  .header__content {
    top: 5%;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header__content {
    top: 20%;
  }

  .header__title {
    font-size: 45px;
  }

  .skillset__columns {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .skillset__body {
    margin: 0 -10px;
  }

  .skillset__element {
    padding: 0 10px 40px;
  }

  .skillset__element:last-child,
  .skillset__element:nth-last-child(2) {
    padding: 0 10px 0;
  }

  .skillset__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 33.333%;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .skillset__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .skillset-container {
    max-width: 750px;
  }

  .project__columns {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .project__columns:first-child {
    margin-bottom: 30px;
  }
}

@media (max-width: 991.98px) and (max-width: 1300px) {
  .project__columns:first-child {
    margin-bottom: -webkit-calc(48px + -18 * ((100vw - 320px) / 930));
    margin-bottom: calc(48px + -18 * ((100vw - 320px) / 930));
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header__body {
    height: 72px;
  }

  .header__burger {
    display: block;
    position: relative;
    margin: 0 20px 0 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 3;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background: #C4C4C4;
    position: absolute;
    height: 3px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    width: 18px;
    left: 6px;
    top: 10px;
  }

  .header__burger::after {
    width: 13px;
    left: 10px;
    bottom: 7px;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 15px;
    left: 6px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 6px;
    bottom: 12px;
    width: 18px;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    padding: 100px 0 0 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header__menu.active {
    right: 0;
  }

  .header__list li {
    margin: 0 0 40px 0;
    text-align: center;
  }

  .header__list {
    display: block;
  }

  .header__link {
    font-size: 24px;
    padding: 0;
  }

  .header__link:hover:hover {
    color: #fff;
  }

  .header__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0;
  }

  .header__columns {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .header__image img {
    max-width: 320px;
    margin: 0 0 10px 0;
  }

  .header__content {
    position: static;
    margin: 0 0 -60px 0;
  }

  .header__title {
    margin: 0 0 20px 0;
    font-size: 32px;
    padding: 0 10px;
    text-align: center;
  }

  .header__text {
    text-align: center;
    padding: 0 10px;
    font-size: 14px;
  }

  .work__row {
    margin: 0 -15px;
  }

  .work__columns {
    padding: 0 15px;
  }

  .philosophy__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .skillset__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .skillset__columns {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .skillset__columns_1 {
    margin: 0 0 48px 0;
    padding: 0 20px;
  }

  .skillset__columns_2 {
    margin: 0 20px;
  }

  .project__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .project__link {
    margin-top: 110px;
  }

  .project-container {
    max-width: 636px;
    padding: 0 10px;
  }

  .instagram__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 767.98px) and (max-width: 767.68px) {
  .project__link {
    margin-top: -webkit-calc(60px + 50 * ((100vw - 320px) / 930));
    margin-top: calc(60px + 50 * ((100vw - 320px) / 930));
  }
}

@media (max-width: 500px) {
  .work__columns {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 479.98px) {
  .skillset__element {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .skillset__element:nth-last-child(2) {
    padding: 0 10px 40px 10px;
  }
}